html, body {
    height: 100%;
    margin: 0; 
    font-family: Arial, sans-serif;
    font-size: ;
    background: #fff;
    color: #222;
}

a {
    text-decoration: none;
    color: #1a0dab;
}
a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

h3 {
    margin-bottom: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

img {
    vertical-align: middle;
}

header {
    background: #fafafa;
    border-bottom: 1px solid #e4e4e4;
}
header div {
    padding: 20px 12px 15px;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
header div span {
    margin: 0 17px 0 auto;
}
form {
    border: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    outline: none;
    margin: 0 17px;
    padding: 0 15px;
    width: 632px;
    box-sizing: border-box;
}
form:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08) !important;
}
input[type="search"] {
    width: 580px;
    height: 44px;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
button {
    color: blue;
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
}
button svg {
    height: 24px;
    width: 24px;
    fill: #4285f4;
}
#apps {
    display: inline-block;
    background-position: -132px -38px;
    background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-size: 528px 68px;    
    opacity: 0.55;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    vertical-align: middle;
}
#apps:hover {
    opacity: 0.85;
}
#signin {
    color: white;

    border: 1px solid #4285f4;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
    cursor: default;

    background: #4285f4;
    background: -moz-linear-gradient(#4387fd, #4683ea);   
    background: linear-gradient(#4387fd, #4683ea);
    
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
#signin:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
#signin:active {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
    background: linear-gradient(to top, #3c7ae4, #3f76d3);
}
nav {
    display: flex;
    align-items: center;
    margin-left: 150px;
    width: 632px;
}
nav a:nth-child(7) {
    margin-left: auto;
}
nav a {
    color: #777;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    line-height: 19px;
    cursor: pointer;
    padding: 10px 15px;
}
nav .selected {
    color: #1A73E8;
    font-weight: bold;
    border-bottom: 3px solid #1A73E8;
}
nav .selected:hover {
    color: #1A73E8;
}
nav a:hover {
    text-decoration: none;
    color: #222;
}
#tools {
    padding: 4px 15px;
}
#tools:hover {
    color: #777;
    background: #f8f8f8;
    background: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
    background: linear-gradient(#f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#tools:active {
    color: #000;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: linear-gradient(to top, #f6f6f6, #f1f1f1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

main {
    width: 632px;
    margin: 0 auto 0 150px ;
}
#stats {
    color: #777;
    padding: 12px 20px;
}
main > ul {
   margin-bottom: 50px;
}
.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 2px;
    padding: 15px 20px;
    position: relative;
    margin-top: 10px;
}
.card h3 {
    margin: 0;
}
.card img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}
.card ol {
    margin: 10px auto;
    padding: 0;
    list-style-position: inside;
}
.card li {
    font-size: 16px;
    line-height: 24px;
}
.card li:last-child {
    line-height: 30px;
    list-style-type: none;
    padding-left: 18px;
}
.card li:last-child a {
    font-size: 14px;
    color: #777;
}
.title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}
.link {
    color: #006621;
    font-size: 14px;
    display: inline-block;
}
#results p {
    color: #545454;
    line-height: 1.4;
    font-size: 13px !important;
}
#results > li:first-child footer {
    padding: 5px 10px;
    fill: #9e9e9e;
    text-align: end;
    margin-bottom: 5px;
}
#results > li:first-child footer a {
    color: #777;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
}
#results > li:nth-child(n+2) {
    padding-left: 20px;
}
.date {
    color: #808080;
}
.down-arrow {
    display: inline-block;
    border-color: #006621 transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    vertical-align: middle;
}
#related {
    padding-left: 20px;
}
#related li {
    display: block;
    padding: 5px 0;
}
#related h3 {
    font-size: 18px;
    font-weight: normal;
}
#related a {
    font-size: 14px;
}
#related ul {
    margin-top: 10px;
    columns: 2;
}
table {
    text-align: center;
    margin: 30px auto;
}
table img {
    margin: 0;
    display: block;
}

body > footer {
    margin-top: 30px;
}
body > footer div, body > footer ul {
    line-height: 40px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0 0 0 150px;
    font-size: 15px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
body > footer li {
    margin-right: 25px;
    font-size: 13px;
    display: inline;
}
body > footer a {
    color: #777;
    cursor: pointer;
}
body > footer a:hover {
    color: #333;
    text-decoration: none;
}
